{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Paragraph Recall
{% endblock %}

{% block content %}

Please read the following paragraph:

    <p>
Marilou took off her pink sandals and ran on the sweltering sand. She tiptoed into the water, giggling as a wave washed her legs. She looked back at the big red and white umbrella and waved at her mother, who was getting a much needed suntan. Her mother smiled and waved with two fingers, holding a peach in one hand and a bottle of ice cold lemonade in the other. A big wave came and swept Marilou's feet, making her fall into the water.

She tried to scream but swallowed a gulp of salty water instead. She didn't know which way was up and which was down. Her sweeping hand touched something with a tiny claw in the sand. She screamed bubbles and tried hard to swim. The wave receded, dumping the startled girl upon the soft, wet beach. Marilou coughed and rubbed her eyes, struggling to get back up. Grains of sand in her blue swimsuit scratched her skin. She looked back toward her mother, who was standing up with a worried frown partly covered by sunglasses. Marilou ran back to the big umbrella, tiptoeing through the hot sand. She smelled of salt and seaweeds. She took her mother's big, warm hand with her cold, wet one.

    </p>



    {% next_button %}

{{ form.errors }}
{% endblock %}


