{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Write one sentence
{% endblock %}

{% block content %}


    <p>
In the next task, you will read three individual sentences that are part of different stories. Your task will be to write the next sentence in each of these stories. You can write whatever you want, as long as it follows from the previous sentence and as long as you only write one sentence. 
    </p>

    <p>
 <b>Story 1:</b> {{story1}}
    </p>
<p> {% formfield player.p9_s1 label="Please write the next sentence of the story" %}</p>

    <p>
 Press "Next" to read the second story.
    </p>


    {% next_button %}

{{ form.errors }}
{% endblock %}
