{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Story 1
{% endblock %}

{% block content %}

Please read the following story:

    <p>
I went down to the front garden and went through the hole in the fence to get started with my day. The sun was bright and it seemed to be a great day for adventure.  {{story_p1}}. {{story_p2}}. {{story_p3}}. {{story_p4}}. {{story_p5}}. {{story_p6}}.
    </p>

&nbsp;
&nbsp;

    <p>
{% formfields %}

    </p>
    
    {% next_button %}

{{ form.errors }}
{% endblock %}


