{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Part 2
{% endblock %}

{% block content %}

<p>
Take the next fifteen minutes to write what you consider to be the most impactful and significant solutions to the problem. Explain how your solutions would work and why they would be likely to succeed in addressing the problem. 

</p>


{% formfield player.t3_stage2_dv2 label="Studies show that many young people spend more time watching TV than they do in any other leisure activity. This has concerned some citizens and they have formed a group called Unplug and Tune In. The group does not say watching TV is wrong, but they are concerned that watching too much TV does not improve people’s reading and thinking skills. The group has asked for possible solutions to encourage young people to spend less time in front of the TV." %}
    {% next_button %}

{{ form.errors }}
{% endblock %}
