{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Paragraph Recall
{% endblock %}

{% block content %}

Please read the following paragraph:

    <p>
Lorem ipsum dolor sit amet, aliquip corpora vim ei. Mei ad quis recusabo signiferumque, vel verear senserit complectitur ad. Eos in erant graecis quaestio, ea sea numquam adolescens intellegam, pericula eloquentiam vis at. In mucius fabulas perfecto nec, ad assum altera albucius vel. Veri perpetua definiebas cum at, at ius doming oportere gloriatur, ne sea delectus necessitatibus. Dolor accusam pertinax pri at, appetere antiopam cu eum, quo tritani mentitum ne. Cu diam laoreet constituam vim, quaeque meliore pertinax qui ne.
    </p>



    {% next_button %}

{{ form.errors }}
{% endblock %}


